/* Global styling */
body {
    text-align: center; /* Centers text globally */
    font-family: Arial, sans-serif; /* Cleaner font */
    background-image: url('images/brownMap.jpg'); /* Set background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative; /* Ensures positioning for logo */
}

/* Style for the logo */
.logo-container {
    position: absolute; /* Position the logo in the upper right */
    top: 50px; /* Adjust the top spacing */
    right: 10px; /* Adjust the right spacing */
}

.logo {
    width: 45px; /* Make the logo smaller */
    height: auto; /* Maintain aspect ratio */
}

/* Title and subtitle */
h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    color: #85161f; /* Title color */
    font-family: 'Optima', sans-serif; /* Optima font */
}

h2 {
    font-size: 1.1em; /* Smaller font size */
    margin-top: 0; /* Reduce space between <h1> and <h2> */
    margin-bottom: 20px; /* Add space below <h2> */
    font-weight: 400; /* Make the <h2> text lighter */
    color: white;
    background-color: #85161f; /* Background color for better contrast */
    padding: 10px; /* Padding around the subheading */
    display: inline-block; /* Allows the element to be centered */
    margin: 0 auto 20px auto; /* Centers the box horizontally and adds space below */
    text-align: center; /* Ensures text inside is centered */
}

/* Map styling */
#map {
    height: 600px; /* Set a height for the map */
    width: 100%;
    margin-top: 20px;
    border: 2px solid #85161f;
}

/* Form styling */
/* Input box styling */
#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px; /* Adjust the width of the input boxes */
    padding: 10px; /* Padding for better appearance */
    margin-bottom: 10px; /* Space between the input boxes */
    border: 1px solid #85161f; /* Border color matching theme */
    border-radius: 5px; /* Rounded corners for better look */
}

button {
    width: 150px; /* Make the button smaller */
    padding: 10px;
    background-color: #85161f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a82528; /* Slightly lighter color on hover */
}

/* Center the input section */
#input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



